In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/AllT20's.csv")

<ipython-input-351-66dfce2168a0>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/content/drive/MyDrive/AllT20's.csv")

In [ ]:
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621561,995469,2016,2016-09-09,R Premadasa Stadium,2,17.1,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621562,995469,2016,2016-09-09,R Premadasa Stadium,2,17.2,Australia,Sri Lanka,PM Nevill,TM Head,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621563,995469,2016,2016-09-09,R Premadasa Stadium,2,17.3,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621564,995469,2016,2016-09-09,R Premadasa Stadium,2,17.4,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
621565,995469,2016,2016-09-09,R Premadasa Stadium,2,17.5,Australia,Sri Lanka,TM Head,PM Nevill,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.batting_team.unique()

array(['Australia', 'Sri Lanka', 'Hong Kong', 'Ireland', 'Zimbabwe',
       'India', 'Bangladesh', 'New Zealand', 'South Africa', 'England',
       'West Indies', 'Afghanistan', 'Pakistan', 'United Arab Emirates',
       'Scotland', 'Oman', 'Netherlands', 'Papua New Guinea',
       'ICC World XI', 'Thailand', 'Uganda', 'Malaysia', 'Botswana',
       'Lesotho', 'Malawi', 'Namibia', 'Sierra Leone', 'Mozambique',
       'Nepal', 'China', 'Kuwait', 'Philippines', 'Vanuatu',
       'United States of America', 'Germany', 'Italy', 'Kenya', 'Nigeria',
       'Tanzania', 'Rwanda', 'Japan', 'Indonesia', 'Fiji', 'Samoa',
       'Canada', 'Ghana', 'Guernsey', 'Denmark', 'Norway', 'Jersey',
       'Maldives', 'Mali', 'Singapore', 'Qatar', 'South Korea', 'Bermuda',
       'Cayman Islands', 'Portugal', 'Spain', 'Gibraltar', 'Bhutan',
       'Saudi Arabia', 'Bahrain', 'Iran', 'Austria', 'Belgium',
       'Luxembourg', 'Czech Republic', 'Isle of Man', 'Bulgaria',
       'Romania', 'Greece', 'Serbia', 'Malta', 'France', 'Sweden',
       'Finland', 'Eswatini', 'Cameroon', 'Hungary', 'Estonia', 'Cyprus',
       'Switzerland', 'Argentina', 'Brazil', 'Swaziland', 'Seychelles',
       'Belize', 'Bahamas', 'Panama', 'Barbados', 'Israel', 'Turkey',
       'Croatia', 'Slovenia', 'Cook Islands', 'St Helena', 'Gambia',
       'Cambodia'], dtype=object)

In [ ]:
top_ranked = ['Australia', 'Sri Lanka','India', 'Bangladesh', 'New Zealand', 'South Africa', 'England','West Indies', 'Afghanistan', 'Pakistan']

In [ ]:
df = df[df['batting_team'].isin(top_ranked)]

In [ ]:
df = df[df['bowling_team'].isin(top_ranked)]

In [ ]:
df.batting_team.unique()

array(['Australia', 'Sri Lanka', 'Bangladesh', 'New Zealand',
       'South Africa', 'England', 'West Indies', 'India', 'Pakistan',
       'Afghanistan'], dtype=object)

In [ ]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [ ]:
df.sort_values(['match_id','innings'],ascending=[True,True]).reset_index()

,index,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,465618,211028,2005,2005-06-13,The Rose Bowl,1,0.1,England,Australia,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,465619,211028,2005,2005-06-13,The Rose Bowl,1,0.2,England,Australia,ME Trescothick,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,465620,211028,2005,2005-06-13,The Rose Bowl,1,0.3,England,Australia,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,465621,211028,2005,2005-06-13,The Rose Bowl,1,0.4,England,Australia,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,465622,211028,2005,2005-06-13,The Rose Bowl,1,0.5,England,Australia,GO Jones,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268848,459781,1382165,2023,2023-07-13,"Shere Bangla National Stadium, Mirpur",2,17.5,Bangladesh,India,Nahida Akter,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268849,459782,1382165,2023,2023-07-13,"Shere Bangla National Stadium, Mirpur",2,17.6,Bangladesh,India,Ritu Moni,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268850,459783,1382165,2023,2023-07-13,"Shere Bangla National Stadium, Mirpur",2,17.7,Bangladesh,India,Ritu Moni,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268851,459784,1382165,2023,2023-07-13,"Shere Bangla National Stadium, Mirpur",2,18.1,Bangladesh,India,Nahida Akter,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268852,459785,1382165,2023,2023-07-13,"Shere Bangla National Stadium, Mirpur",2,18.2,Bangladesh,India,Ritu Moni,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['overs'] = df['ball']

In [ ]:
df['ball'] = df['ball'].astype(str)

In [ ]:
df['ball'].str[0:-1]

0          0.
1          0.
2          0.
3          0.
4          0.
         ...
621561    17.
621562    17.
621563    17.
621564    17.
621565    17.
Name: ball, Length: 268853, dtype: object

In [ ]:
df['overs'] = df['ball'].str[0:-1]

In [ ]:
df['overs'] = df['overs'].str.replace('.','')

<ipython-input-364-2bc5d646ad9b>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['overs'] = df['overs'].str.replace('.','')

In [ ]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.1,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.2,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.3,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.4,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,0.5,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df['ball'] = df['ball'].str[-1:]

In [ ]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,1,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,2,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,3,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,4,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,5,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df['total_runs'] = df['runs_off_bat'] + df['extras']

In [ ]:
df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,overs,total_runs
0,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,1,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,2,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,3,Australia,Sri Lanka,AJ Finch,M Klinger,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,4,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2
4,1001349,2016/17,2017-02-17,Melbourne Cricket Ground,1,5,Australia,Sri Lanka,M Klinger,AJ Finch,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [ ]:
df = df[['match_id','innings','batting_team','bowling_team','overs','ball','total_runs','player_dismissed']]

In [ ]:
df =df.rename(columns = {"match_id" : "id"})

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed
0,1001349,1,Australia,Sri Lanka,0,1,0,NaN
1,1001349,1,Australia,Sri Lanka,0,2,0,NaN
2,1001349,1,Australia,Sri Lanka,0,3,1,NaN
3,1001349,1,Australia,Sri Lanka,0,4,2,NaN
4,1001349,1,Australia,Sri Lanka,0,5,0,NaN

In [ ]:
df = df.replace(np.nan,0)

In [ ]:
df.groupby(['id','innings'])['total_runs'].transform('sum')

0         168
1         168
2         168
3         168
4         168
         ...
621561    130
621562    130
621563    130
621564    130
621565    130
Name: total_runs, Length: 268853, dtype: int64

In [ ]:
df['total'] = df.groupby(['id','innings'])['total_runs'].transform('sum')

In [ ]:
df['total_score'] = df.groupby(['id','innings'])['total_runs'].apply(lambda x : x.cumsum())

<ipython-input-376-d35e2c4c70e6>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['total_score'] = df.groupby(['id','innings'])['total_runs'].apply(lambda x : x.cumsum())

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3

In [ ]:
tmp = df.groupby(['id','innings'])['total_runs'].rolling(min_periods = 1, window = 30).sum().reset_index()

In [ ]:
df['prev_30_runs'] = tmp['total_runs'].to_list()

In [ ]:
df

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0
...,...,...,...,...,...,...,...,...,...,...,...
621561,995469,2,Australia,Sri Lanka,17,1,1,0,130,121,33.0
621562,995469,2,Australia,Sri Lanka,17,2,3,0,130,124,33.0
621563,995469,2,Australia,Sri Lanka,17,3,0,0,130,124,33.0
621564,995469,2,Australia,Sri Lanka,17,4,0,0,130,124,34.0
621565,995469,2,Australia,Sri Lanka,17,5,6,0,130,130,34.0

In [ ]:
len(df['player_dismissed'].unique())

1077

In [ ]:
df['player_dismissed'] = np.where(df['player_dismissed'] == 0, 0, 1)

In [ ]:
tmp1 = df.groupby(['id','innings'])['player_dismissed'].rolling(min_periods = 1,window = 30).sum().reset_index()

In [ ]:
df['prev_30_wickets'] = tmp1['player_dismissed'].to_list()

In [ ]:
df.head(5)

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0

In [ ]:
df['total_wickets'] = df.groupby(['id','innings'])['player_dismissed'].apply(lambda x : x.cumsum())

<ipython-input-386-d10014007ff5>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['total_wickets'] = df.groupby(['id','innings'])['player_dismissed'].apply(lambda x : x.cumsum())

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0,0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0,0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0,0
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0,0
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0,0

In [ ]:
df['prev_30_dots'] = df['total_runs']
df['prev_30_dots'] = np.where(df['prev_30_dots'] == 0, 1, 0)

tmp2 = df.groupby(['id','innings'])['prev_30_dots'].rolling(min_periods = 1,window = 30).sum().reset_index()
df['prev_30_dots'] = tmp2['prev_30_dots'].to_list()

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dots
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0,0,1.0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0,0,1.0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0,0,2.0
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0,0,3.0
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0,0,4.0

In [ ]:
df['prev_30_bound'] = df['total_runs']
df['prev_30_bound'] = np.where(df['prev_30_bound'] > 3, 1, 0)

tmp3 = df.groupby(['id','innings'])['prev_30_bound'].rolling(min_periods = 1,window = 30).sum().reset_index()
df['prev_30_bound'] = tmp3['prev_30_bound'].to_list()

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dots,prev_30_bound
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0,0,1.0,0.0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0,0,1.0,0.0
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0,0,2.0,0.0
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0,0,3.0,0.0
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0,0,4.0,0.0

In [ ]:
df['ball'] = df['ball'].astype(int)
df['overs'] = df['overs'].astype(int)

df['total_balls'] = df['overs']*6 + df['ball']

In [ ]:
df['run_rate'] = 6*(df['total_score'])/df['total_balls']
df.head(12)

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dots,prev_30_bound,total_balls,run_rate
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0,0,1.0,0.0,1,0.000000
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0,0,1.0,0.0,2,0.000000
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0,0,2.0,0.0,3,2.000000
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0,0,3.0,0.0,4,4.500000
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0,0,4.0,0.0,5,3.600000
5,1001349,1,Australia,Sri Lanka,0,6,3,0,168,6,2.0,0.0,0,4.0,0.0,6,6.000000
6,1001349,1,Australia,Sri Lanka,1,1,0,0,168,6,4.0,0.0,0,4.0,0.0,7,5.142857
7,1001349,1,Australia,Sri Lanka,1,2,1,0,168,7,4.0,0.0,0,5.0,0.0,8,5.250000
8,1001349,1,Australia,Sri Lanka,1,3,0,0,168,7,4.0,0.0,0,6.0,0.0,9,4.666667
9,1001349,1,Australia,Sri Lanka,1,4,0,0,168,7,5.0,0.0,0,6.0,0.0,10,4.200000
10,1001349,1,Australia,Sri Lanka,1,5,4,0,168,11,5.0,0.0,0,7.0,0.0,11,6.000000
11,1001349,1,Australia,Sri Lanka,1,6,2,0,168,13,5.0,0.0,0,8.0,0.0,12,6.500000

In [ ]:
tmp4 = df.groupby(['id', 'innings'])['run_rate'].rolling(min_periods =1, window =18).mean().reset_index()
df['prev_18_run_rate'] = tmp4['run_rate'].to_list()
df.head(18)

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dots,prev_30_bound,total_balls,run_rate,prev_18_run_rate
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0.0,0.0,0,1.0,0.0,1,0.000000,0.000000
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1.0,0.0,0,1.0,0.0,2,0.000000,1.500000
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1.0,0.0,0,2.0,0.0,3,2.000000,1.666667
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1.0,0.0,0,3.0,0.0,4,4.500000,1.625000
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1.0,0.0,0,4.0,0.0,5,3.600000,1.540000
5,1001349,1,Australia,Sri Lanka,0,6,3,0,168,6,2.0,0.0,0,4.0,0.0,6,6.000000,1.616667
6,1001349,1,Australia,Sri Lanka,1,1,0,0,168,6,4.0,0.0,0,4.0,0.0,7,5.142857,1.875510
7,1001349,1,Australia,Sri Lanka,1,2,1,0,168,7,4.0,0.0,0,5.0,0.0,8,5.250000,2.069643
8,1001349,1,Australia,Sri Lanka,1,3,0,0,168,7,4.0,0.0,0,6.0,0.0,9,4.666667,2.173016
9,1001349,1,Australia,Sri Lanka,1,4,0,0,168,7,5.0,0.0,0,6.0,0.0,10,4.200000,2.289048
10,1001349,1,Australia,Sri Lanka,1,5,4,0,168,11,5.0,0.0,0,7.0,0.0,11,6.000000,2.353680
11,1001349,1,Australia,Sri Lanka,1,6,2,0,168,13,5.0,0.0,0,8.0,0.0,12,6.500000,2.384812
12,1001349,1,Australia,Sri Lanka,2,1,1,0,168,14,5.0,0.0,0,9.0,0.0,13,6.461538,2.393673
13,1001349,1,Australia,Sri Lanka,2,2,1,0,168,15,6.0,0.0,0,9.0,0.0,14,6.428571,2.420499
14,1001349,1,Australia,Sri Lanka,2,3,0,0,168,15,10.0,0.0,0,9.0,1.0,15,6.000000,2.566824
15,1001349,1,Australia,Sri Lanka,2,4,0,0,168,15,11.0,0.0,0,9.0,1.0,16,5.625000,2.701041
16,1001349,1,Australia,Sri Lanka,2,5,4,0,168,19,11.0,0.0,0,10.0,1.0,17,6.705882,2.800979
17,1001349,1,Australia,Sri Lanka,2,6,0,0,168,19,15.0,0.0,0,10.0,2.0,18,6.333333,2.957869

In [ ]:
conversion = {
    'prev_30_runs' : int,
    'prev_30_wickets' : int,
    'prev_30_dots' : int,
    'prev_30_bound' : int,
    'prev_18_run_rate' : int
}
df = df.astype(conversion)

In [ ]:
df.head()

,id,innings,batting_team,bowling_team,overs,ball,total_runs,player_dismissed,total,total_score,prev_30_runs,prev_30_wickets,total_wickets,prev_30_dots,prev_30_bound,total_balls,run_rate,prev_18_run_rate
0,1001349,1,Australia,Sri Lanka,0,1,0,0,168,0,0,0,0,1,0,1,0.0,0
1,1001349,1,Australia,Sri Lanka,0,2,0,0,168,0,1,0,0,1,0,2,0.0,1
2,1001349,1,Australia,Sri Lanka,0,3,1,0,168,1,1,0,0,2,0,3,2.0,1
3,1001349,1,Australia,Sri Lanka,0,4,2,0,168,3,1,0,0,3,0,4,4.5,1
4,1001349,1,Australia,Sri Lanka,0,5,0,0,168,3,1,0,0,4,0,5,3.6,1

In [ ]:
df.to_csv('MyData_with_features.csv',index = None)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_absolute_error

In [ ]:
df = pd.get_dummies(data = df, columns = ['batting_team','bowling_team'])

In [ ]:
df.columns

Index(['id', 'innings', 'overs', 'ball', 'total_runs', 'player_dismissed',
       'total', 'total_score', 'prev_30_runs', 'prev_30_wickets',
       'total_wickets', 'prev_30_dots', 'prev_30_bound', 'total_balls',
       'run_rate', 'prev_18_run_rate', 'batting_team_Afghanistan',
       'batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Afghanistan',
       'bowling_team_Australia', 'bowling_team_Bangladesh',
       'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies'],
      dtype='object')

In [ ]:
df = df[['id','batting_team_Afghanistan',
       'batting_team_Australia', 'batting_team_Bangladesh',
       'batting_team_England', 'batting_team_India',
       'batting_team_New Zealand', 'batting_team_Pakistan',
       'batting_team_South Africa', 'batting_team_Sri Lanka',
       'batting_team_West Indies', 'bowling_team_Afghanistan',
       'bowling_team_Australia', 'bowling_team_Bangladesh',
       'bowling_team_England', 'bowling_team_India',
       'bowling_team_New Zealand', 'bowling_team_Pakistan',
       'bowling_team_South Africa', 'bowling_team_Sri Lanka',
       'bowling_team_West Indies','overs','total_score',
       'total_wickets','total',
       'prev_30_runs', 'prev_30_wickets',
       'prev_30_dots', 'prev_30_bound','prev_18_run_rate']]

In [ ]:
df.head()

,id,batting_team_Afghanistan,batting_team_Australia,batting_team_Bangladesh,batting_team_England,batting_team_India,batting_team_New Zealand,batting_team_Pakistan,batting_team_South Africa,batting_team_Sri Lanka,...,bowling_team_West Indies,overs,total_score,total_wickets,total,prev_30_runs,prev_30_wickets,prev_30_dots,prev_30_bound,prev_18_run_rate
0,1001349,0,1,0,0,0,0,0,0,0,...,0,0,0,0,168,0,0,1,0,0
1,1001349,0,1,0,0,0,0,0,0,0,...,0,0,0,0,168,1,0,1,0,1
2,1001349,0,1,0,0,0,0,0,0,0,...,0,0,1,0,168,1,0,2,0,1
3,1001349,0,1,0,0,0,0,0,0,0,...,0,0,3,0,168,1,0,3,0,1
4,1001349,0,1,0,0,0,0,0,0,0,...,0,0,3,0,168,1,0,4,0,1

In [ ]:
X = df.drop(labels = ['total','id'],axis = 1)

In [ ]:
Y = df['total'].values

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.25,random_state = 42,stratify=Y)

In [ ]:
X_train = X_train.values
X_test = X_test.values
X_train = np.asarray(X_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)

In [ ]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(201639, 28) (67214, 28) (201639,) (67214,)

In [ ]:
LR_Mod = LinearRegression()
LR_Mod.fit(X_train,Y_train)

LinearRegression()

In [ ]:
fname = 'LinRegMod.pkl'
pickle.dump(LR_Mod,open(fname,'wb'))

In [ ]:
pred = LR_Mod.predict(X_test)
mean_absolute_error(Y_test,pred)

19.186935985879717

In [ ]:
def pred_score(BatTeam,BowTeam,Overs,Score,Wickets,Pruns,Pwickets,Pdots,Pbounds,Prr):

  tmp = list()

  if BatTeam == 'Afghanistan':
    tmp = tmp + [1,0,0,0,0,0,0,0,0,0]
  elif BatTeam == 'Australia':
    tmp = tmp + [0,1,0,0,0,0,0,0,0,0]
  elif BatTeam == 'Bangladesh':
    tmp = tmp + [0,0,1,0,0,0,0,0,0,0]
  elif BatTeam == 'England':
    tmp = tmp + [0,0,0,1,0,0,0,0,0,0]
  elif BatTeam == 'India':
    tmp = tmp + [0,0,0,0,1,0,0,0,0,0]
  elif BatTeam == 'New Zealand':
    tmp = tmp + [0,0,0,0,0,1,0,0,0,0]
  elif BatTeam == 'Pakistan':
    tmp = tmp + [0,0,0,0,0,0,1,0,0,0]
  elif BatTeam == 'South Africa':
    tmp = tmp + [0,0,0,0,0,0,0,1,0,0]
  elif BatTeam == 'Sri Lanka':
    tmp = tmp + [0,0,0,0,0,0,0,0,1,0]
  elif BatTeam == 'West Indies':
    tmp = tmp + [0,0,0,0,0,0,0,0,0,1]

  if BowTeam == 'Afghanistan':
    tmp = tmp + [1,0,0,0,0,0,0,0,0,0]
  elif BowTeam == 'Australia':
    tmp = tmp + [0,1,0,0,0,0,0,0,0,0]
  elif BowTeam == 'Bangladesh':
    tmp = tmp + [0,0,1,0,0,0,0,0,0,0]
  elif BowTeam == 'England':
    tmp == tmp + [0,0,0,1,0,0,0,0,0,0]
  elif BowTeam == 'India':
    tmp = tmp + [0,0,0,0,1,0,0,0,0,0]
  elif BowTeam == 'New Zealand':
    tmp = tmp + [0,0,0,0,0,1,0,0,0,0]
  elif BowTeam == 'Pakistan':
    tmp = tmp + [0,0,0,0,0,0,1,0,0,0]
  elif BowTeam == 'South Africa':
    tmp = tmp + [0,0,0,0,0,0,0,1,0,0]
  elif BowTeam == 'Sri Lanka':
    tmp = tmp + [0,0,0,0,0,0,0,0,1,0]
  elif BowTeam == 'West Indies':
    tmp = tmp + [0,0,0,0,0,0,0,0,0,1]

  tmp = tmp + [Overs,Score,Wickets,Pruns,Pwickets,Pdots,Pbounds,Prr]
  data = np.array([tmp])
  my_prediction = int(LR_Mod.predict(data))

  print('Predicted Score :',my_prediction)
  print('Predicted Score Range :',my_prediction - 19,'to',my_prediction + 19)

In [ ]:
BatTeam = 'India'
BowTeam = 'Pakistan'
Overs = 10
Score = 45
Wickets = 4
Pruns = 23
Pwickets = 2
Pdots = 13
Pbounds = 1
Prr = 4

pred_score(BatTeam,BowTeam,Overs,Score,Wickets,Pruns,Pwickets,Pdots,Pbounds,Prr)

Predicted Score : 109
Predicted Score Range : 90 to 128

Conclusion : As an extra factor, I have added the run-rate of the previous 18 balls which suggests the form of the current batsman thought process.

The scenario I have taken is the exact one of the **T20WC 2022** match between **IND and PAK** at the end of 10 overs of India batting.

This suggests that the match was one hell of an outlier compared to the data.